[phases.setup]
nixPkgs = [
    "nodejs-18_x",
    "ffmpeg",
    "libwebp",
    "python3",
    "gnumake",
    "gcc",
    "pkg-config",
    "cairo",
    "pango",
    "libpng",
    "libjpeg",
    "giflib",
    "librsvg"
]

[start]
cmd = "node index.js"
